name: Terraform CI/CD

on:
  push:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    - name: Terraform install
      uses: hashicorp/setup-terraform@v3

    - name: Clonar repositorio en Github actions
      uses: actions/checkout@v4
      
    - name: Inicializar terraform y validar codigo
      run: |
       cd terraform
       terraform init
       terraform validate
       terraform fmt
       terraform plan
      
      
