name: Terraform CI

on:
  push:
      paths:
      - 'terraform/**'
env:
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    
jobs:

  CI:
    runs-on: ubuntu-latest
    steps:
    - name: Terraform install
      uses: hashicorp/setup-terraform@v3

    - name: Clonar repositorio en Github actions
      uses: actions/checkout@v4
      
    - name: Inicializar terraform y validar codigo
      run: |
       cd terraform
       terraform init
       terraform validate
       terraform fmt
       terraform plan
         
  
        
    
      
      
