name: Terraform CI

on:
  push:
      paths:
      - 'terraform/**'

jobs:

  CI:
    runs-on: ubuntu-latest
    steps:
    
    - name: Emitir y firmar token OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
          role-to-assume: arn:aws:iam::151098958427:role/GithubActionsOIDC
          aws-region: us-east-1  
          
    - name: Terraform install
      uses: hashicorp/setup-terraform@v3

    - name: Clonar repositorio en Github actions
      uses: actions/checkout@v4
      
    - name: Inicializar terraform y validar codigo
      run: |
       cd terraform
       terraform init
       terraform validate
       terraform fmt
       terraform plan
         
  
        
    
      
      
